@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #2d3748;
}

span {
  position: relative;
}

span[title]:hover::before {
  content: attr(title);
  position: absolute;
  left: 0;
  transform: translate(60%);
  background-color: #00000055;
  margin-left: 10px;
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
}